{% extends "../nav/index.html" %}
{% load static %}

      {% block link_styles %}
      <link href="{% static 'publico/css/contacts/contactsstyles.css' %}" rel="stylesheet" />
      {% endblock %}

      {% block cuerpo %}


        <div class="mivi">
          <h1>Correos</h1>
          <div id="cards">

              <div class="card">
                  <div class="galeria">
                    <p >
                      <a class="redS"href="mailto:abinady.cortes@cdosa.mx"><i class="fa-regular fa-envelope"></i>&nbsp;abinady.cortes@cdosa.mx</a>
                    </p>
                    <p >
                      <a class="redS"href="mailto:ventas1@cdosa.mx"><i class="fa-regular fa-envelope"></i>&nbsp;ventas1@cdosa.mx</a>
                    </p>
                    <p >
                      <a class="redS"href="mailto:ventas2@cdosa.mx"><i class="fa-regular fa-envelope"></i>&nbsp;ventas2@cdosa.mx</a>
                    </p>
                  </div>
              </div>
          </div>
        </div>

        <div class="mivi">
          <h1>Telefonos</h1>
          <div id="cards">

              <div class="card">
                  <div class="galeria">
                    
                    <p >
                      <a class="redS" href="tel:+5213313701989">
                        <i class="fa-solid fa-phone"></i>&nbsp;33 1370 1989
                      </a>
                    </p>
                    <p >
                      <a class="redS" href="tel:+5213334253411">
                        <i class="fa-solid fa-phone"></i>&nbsp;33 3425 3411
                      </a>
                    </p>
                    <p >
                      <a class="redS" href="tel:+5213316234583">
                        <i class="fa-solid fa-phone"></i>&nbsp;33 1623 4583
                      </a>
                    </p>
                  </div>
              </div>
          </div>
        </div>

        <div class="mivi">
          <h1>Redes sosciales</h1>
          <div id="cards">

              <div class="card">
                  <div class="galeria">
                    <p><a  class="redS"href="https://www.facebook.com/cdosaoficial/" target="_blank"> <i class="fab fa-facebook"></i>&nbsp;Centro de Distribución de Occidente</a>
                    </p>
                    <p><a  class="redS"href="https://www.instagram.com/cdosa_mx" target="_blank"> <i  class="fab fa-instagram"></i>&nbsp;@cdosa_mx</a>
                    </p>  
                  </div>
              </div>
          </div>
        </div>

          <script src="{% static 'publico/js/home/home_scripts.js' %}"></script>
      {% endblock %}
